.table-active {
    padding: 15px;
}

h6 {
    padding: 10px;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    border: 1px solid #eeeeee;
    padding: 12px;
}